<div class="px-4 pt-4">
  <h3>War Simulator</h3>
</div>
<div class="px-4">
  <div class="form-group mb-4">
    <div class="row mt-lg-4">
      <div class="col-2">
        <label class="fw-bold">Player 1 strategy</label>
        <input type="text" class="form-control" placeholder="Enter Player 1 strategy" [(ngModel)]="firstPlayerStrategy">
      </div>
      <div class="col-2">
        <label class="fw-bold">Player 1 war strategy</label>
        <input type="text" class="form-control" placeholder="Enter Player 1 strategy" [(ngModel)]="firstPlayerWarStrategy">
      </div>
    </div>
    <div class="row mt-lg-4">
      <div class="col-2">
        <label class="fw-bold">Player 2 strategy</label>
        <input type="text" class="form-control" placeholder="Enter Player 2 strategy" [(ngModel)]="secondPlayerStrategy">
      </div>
      <div class="col-2">
        <label class="fw-bold">Player 2 war strategy</label>
        <input type="text" class="form-control" placeholder="Enter Player 1 strategy" [(ngModel)]="secondPlayerWarStrategy">
      </div>
    </div>
    <div class="row mt-lg-4">
      <div class="col-4">
        <div>
        <button class="btn btn-primary" (click)="getStatisticsBothPlayersWithStrategy()" [disabled]="!isValid()">Get result</button>
        </div>
        <div class="mt-2">
        <button class="btn btn-primary" (click)="getStatisticsAndDetectCycles()" [disabled]="!isValid()">Get result with cycles</button>
        </div>
        <div class="mt-2">
        <button class="btn btn-primary" (click)="getStatisticsWithBreakingCycles()" [disabled]="!isValid()">Get result with breaking cycles</button>
        </div>
      </div>
    </div>
  </div>

<div class="form-group ml-4">
  <div class= "mt-4" *ngIf="loading">
    <i class="fas fa-spinner fa-spin fa-2x"></i>
  </div>
  <div *ngIf="showStats()">
    <h2 class="stats-label">Statistics</h2>
    <span class="stats-item">Player 1 won games: {{stats?.firstPlayerWonGames}}%</span>
    <span class="stats-item">Player 2 won games: {{stats?.secondPlayerWonGames}}%</span>
    <span class="stats-item">Draw games: {{stats?.draws}}%</span>
    <span class="stats-item">Average rounds amount: {{stats?.averageAmountOfRounds}}</span>
    <span class="stats-item">Average wars amount: {{stats?.averageAmountOfWars}}</span>
    <span class="stats-item">Games with cycles: {{stats?.roundsWithCycles}}</span>
    <div *ngIf="stats?.detectedCycles && stats.detectedCycles.length > 0">
      <div *ngFor="let cycle of stats.detectedCycles" class="stats-item">
        <span><b>Cycle</b>: {{ cycle }}</span>
      </div>
    </div>  </div>
</div>
</div>
