<div class="px-4 pt-4">
  <h3>Card Strength</h3>
</div>
<div class="px-4">
  <div class="form-group mb-4">

    <div class="row">
      <div class="col-8">
        <div class="row mt-lg-4">
          <h4>Player 1 cards</h4>
          <span>Player 1 deck strength: {{player1Strength}}%
            <button (click)="calculateCardStrengthInPlayer1Deck()" class="btn btn-link">
               <i class="fa fa-calculator fa-lg"></i>
            </button>
</span>
          <div class="row">
            <div class="col-2">
              <label class="fw-bold">Ace</label>
              <input [(ngModel)]="player1Aces" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">King</label>
              <input [(ngModel)]="player1Kings" class="form-control" type="number"
              >
            </div>
            <div class="col-2">
              <label class="fw-bold">Queen</label>
              <input [(ngModel)]="player1Queens" class="form-control" type="number"
              >
            </div>
            <div class="col-2">
              <label class="fw-bold">Jack</label>
              <input [(ngModel)]="player1Jacks" class="form-control" type="number">
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label class="fw-bold">Ten</label>
              <input [(ngModel)]="player1Tens" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Nine</label>
              <input [(ngModel)]="player1Nines" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Eight</label>
              <input [(ngModel)]="player1Eights" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Seven</label>
              <input [(ngModel)]="player1Sevens" class="form-control" type="number">
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label class="fw-bold">Six</label>
              <input [(ngModel)]="player1Sixes" class="form-control" placeholder="Six" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Five</label>
              <input [(ngModel)]="player1Fives" class="form-control" placeholder="Five" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Four</label>
              <input [(ngModel)]="player1Fours" class="form-control" placeholder="Four" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Three</label>
              <input [(ngModel)]="player1Threes" class="form-control" placeholder="Three" type="number">
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label class="fw-bold">Two</label>
              <input [(ngModel)]="player1Twos" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Strategy</label>
              <input [(ngModel)]="firstPlayerStrategy" class="form-control" type="text">
            </div>
            <div class="col-2">
              <label class="fw-bold">War Strategy</label>
              <input [(ngModel)]="firstPlayerWarStrategy" class="form-control" type="text">
            </div>
          </div>
        </div>

        <div class="row mt-lg-4">
          <span>Player 2 deck strength: {{player2Strength}}%
            <button (click)="calculateCardStrengthInPlayer2Deck()" class="btn btn-link">
               <i class="fa fa-calculator fa-lg"></i>
            </button>
</span>
          <div class="row">
            <div class="col-2">
              <label class="fw-bold">Ace</label>
              <input [(ngModel)]="player2Aces" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">King</label>
              <input [(ngModel)]="player2Kings" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Queen</label>
              <input [(ngModel)]="player2Queens" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Jack</label>
              <input [(ngModel)]="player2Jacks" class="form-control" type="number">
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label class="fw-bold">Ten</label>
              <input [(ngModel)]="player2Tens" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Nine</label>
              <input [(ngModel)]="player2Nines" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Eight</label>
              <input [(ngModel)]="player2Eights" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Seven</label>
              <input [(ngModel)]="player2Sevens" class="form-control" type="number">
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label class="fw-bold">Six</label>
              <input [(ngModel)]="player2Sixes" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Five</label>
              <input [(ngModel)]="player2Fives" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Four</label>
              <input [(ngModel)]="player2Fours" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Three</label>
              <input [(ngModel)]="player2Threes" class="form-control" type="number">
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label class="fw-bold">Two</label>
              <input [(ngModel)]="player2Twos" class="form-control" type="number">
            </div>
            <div class="col-2">
              <label class="fw-bold">Strategy</label>
              <input [(ngModel)]="secondPlayerStrategy" class="form-control" type="text">
            </div>
            <div class="col-2">
              <label class="fw-bold">War Strategy</label>
              <input [(ngModel)]="secondPlayerWarStrategy" class="form-control" type="text">
            </div>
          </div>
        </div>

        <div *ngIf="!isValid()" class="row mt-lg-4">
          <span *ngIf="!isWholeDeckInGame()" class="fw-bold bg-warning">Not having the whole deck!</span>
          <br>
          <span *ngIf="!equalNumberOfCards()" class="fw-bold bg-warning">Players have different amount of cards!</span>
        </div>
        <div class="row mt-lg-4">
          <div class="col-2">
            <button (click)="calculateCardsStrength()" class="btn btn-primary">Calculate strength</button>
          </div>
          <div class="col-2">
            <button (click)="equalDecks()" class="btn btn-primary">Equal decks</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group ml-4">
          <div *ngIf="loading" class="mt-4">
            <i class="fas fa-spinner fa-spin fa-2x"></i>
          </div>
          <div *ngIf="showStats()">
            <h4 class="stats-label">Statistics</h4>
            <span class="stats-item">Player 1 won games: {{statistics?.firstPlayerWonGames}}%</span>
            <span class="stats-item">Player 2 won games: {{statistics?.secondPlayerWonGames}}%</span>
            <span class="stats-item">Draw games: {{statistics?.draws}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

